# GDP Data Cleaning

This notebook cleans the World Bank GDP data to only include GDP values for 2021, region, and IncomeGroup variables. Following cleaning, the data is merged with the Netflix data. 
Only the countries included in both datasets are kept in the final analytic dataset.

In [1]:
import pandas as pd 
import numpy as np 
import os

In [2]:
os.chdir("/Users/steffenerickson/Desktop/repos/DS-Netflix-Project")

In [3]:
path_to_gdp = "/Users/steffenerickson/Desktop/repos/DS-Netflix-Project/gdp_data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_3628616.csv"

In [4]:
path_to_metadata = "/Users/steffenerickson/Desktop/repos/DS-Netflix-Project/gdp_data/Metadata_Country_API_NY.GDP.MKTP.CD_DS2_en_csv_v2_3628616.csv"

In [5]:
path_to_netflix = "/Users/steffenerickson/Desktop/repos/DS-Netflix-Project/Netflix subscription fee Dec-2021.csv"

 ### Cleaning GDP Data

In [6]:
df_gdp = pd.read_csv(path_to_gdp, skiprows = 3, header = 0 , dtype = str)

In [7]:
df_gdp2 = df_gdp[['Country Code','Country Name', '2020']].copy()

In [8]:
df_gdp2 = df_gdp2.rename(columns={'2020':'2020_GDP'})
df_gdp2['2020_GDP'] = df_gdp2['2020_GDP'].apply(lambda x: float(x) if isinstance(x, str) else x)

In [9]:
df_gdp2.head()

  Country Code                 Country Name      2020_GDP
0          ABW                        Aruba           NaN
1          AFE  Africa Eastern and Southern  9.207923e+11
2          AFG                  Afghanistan  2.011614e+10
3          AFW   Africa Western and Central  7.845876e+11
4          AGO                       Angola  5.837598e+10

### Cleaning Meta Data

In [10]:
df_meta = pd.read_csv(path_to_metadata, header = 0 , dtype = str, usecols = [0,1,2])

In [11]:
df_meta.head()
len(df_meta)

265

### Merging data

In [12]:
GDP_Final = pd.merge(df_gdp2, df_meta, on="Country Code", how="right")

In [20]:
GDP_Final.head(30)

,Country Code,Country Name,2020_GDP,Region,IncomeGroup
0,ABW,Aruba,NaN,Latin America & Caribbean,High income
1,AFE,Africa Eastern and Southern,9.207923e+11,NaN,NaN
2,AFG,Afghanistan,2.011614e+10,South Asia,Low income
3,AFW,Africa Western and Central,7.845876e+11,NaN,NaN
4,AGO,Angola,5.837598e+10,Sub-Saharan Africa,Lower middle income
5,ALB,Albania,1.488763e+10,Europe & Central Asia,Upper middle income
6,AND,Andorra,NaN,Europe & Central Asia,High income
7,ARB,Arab World,2.447584e+12,NaN,NaN
8,ARE,United Arab Emirates,3.588688e+11,Middle East & North Africa,High income
9,ARG,Argentina,3.892881e+11,Latin America & Caribbean,Upper middle income
10,ARM,Armenia,1.264121e+10,Europe & Central Asia,Upper middle income
11,ASM,American Samoa,7.090000e+08,East Asia & Pacific,Upper middle income
12,ATG,Antigua and Barbuda,1.370281e+09,Latin America & Caribbean,High income
13,AUS,Australia,1.327836e+12,East Asia & Pacific,High income
14,AUT,Austria,4.332585e+11,Europe & Central Asia,High income
15,AZE,Azerbaijan,4.260718e+10,Europe & Central Asia,Upper middle income
16,BDI,Burundi,2.841786e+09,Sub-Saharan Africa,Low income
17,BEL,Belgium,5.218613e+11,Europe & Central Asia,High income
18,BEN,Benin,1.565155e+10,Sub-Saharan Africa,Lower middle income
19,BFA,Burkina Faso,1.793361e+10,Sub-Saharan Africa,Low income
20,BGD,Bangladesh,3.230570e+11,South Asia,Lower middle income
21,BGR,Bulgaria,6.988935e+10,Europe & Central Asia,Upper middle income
22,BHR,Bahrain,3.472923e+10,Middle East & North Africa,High income
23,BHS,"Bahamas, The",9.907500e+09,Latin America & Caribbean,High income
24,BIH,Bosnia and Herzegovina,1.994650e+10,Europe & Central Asia,Upper middle income
25,BLR,Belarus,6.025824e+10,Europe & Central Asia,Upper middle income
26,BLZ,Belize,1.636281e+09,Latin America & Caribbean,Lower middle income
27,BMU,Bermuda,6.842700e+09,North America,High income
28,BOL,Bolivia,3.657276e+10,Latin America & Caribbean,Lower middle income
29,BRA,Brazil,1.444733e+12,Latin America & Caribbean,Upper middle income

### Exporting GDP Data

In [21]:
GDP_Final.to_csv('gdp_data/gdp_final.csv')

### Merging with Netlflix data

In [22]:
netflix = pd.read_csv(path_to_netflix, header = 0)

In [23]:
netflix = netflix.rename(columns={'Country':'Country Name'})

In [24]:
netflix_gdp = pd.merge(netflix, GDP_Final, on = "Country Name", how = "left")

In [25]:
netflix_gdp2 = netflix_gdp.drop(columns = 'Country Code')

In [26]:
netflix_gdp2 = netflix_gdp2.rename(columns={'Country Name':'Country'})

In [27]:
netflix_gdp2.head(10)

,Country_code,Country,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($),2020_GDP,Region,IncomeGroup
0,ar,Argentina,4760,3154,1606,3.74,6.30,9.26,3.892881e+11,Latin America & Caribbean,Upper middle income
1,au,Australia,6114,4050,2064,7.84,12.12,16.39,1.327836e+12,East Asia & Pacific,High income
2,at,Austria,5640,3779,1861,9.03,14.67,20.32,4.332585e+11,Europe & Central Asia,High income
3,be,Belgium,4990,3374,1616,10.16,15.24,20.32,5.218613e+11,Europe & Central Asia,High income
4,bo,Bolivia,4991,3155,1836,7.99,10.99,13.99,3.657276e+10,Latin America & Caribbean,Lower middle income
5,br,Brazil,4972,3162,1810,4.61,7.11,9.96,1.444733e+12,Latin America & Caribbean,Upper middle income
6,bg,Bulgaria,6797,4819,1978,9.03,11.29,13.54,6.988935e+10,Europe & Central Asia,Upper middle income
7,ca,Canada,6239,4311,1928,7.91,11.87,15.03,1.645423e+12,North America,High income
8,cl,Chile,4994,3156,1838,7.07,9.91,12.74,2.529400e+11,Latin America & Caribbean,High income
9,co,Colombia,4991,3156,1835,4.31,6.86,9.93,2.714376e+11,Latin America & Caribbean,Upper middle income

### Exporting Final Analystic Dataset

In [28]:
netflix_gdp2.to_csv('Netflix_GDP_Merged.csv')