In [26]:
# using Linear Regression from sklearn

In [27]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [28]:
gdp_data1 = pd.read_csv('gdp_final.csv').drop('Unnamed: 0', axis = 1)
gdp_data1

,Country Code,Country Name,2020_GDP,Region,IncomeGroup
0,ABW,Aruba,NaN,Latin America & Caribbean,High income
1,AFE,Africa Eastern and Southern,9.207923e+11,NaN,NaN
2,AFG,Afghanistan,2.011614e+10,South Asia,Low income
3,AFW,Africa Western and Central,7.845876e+11,NaN,NaN
4,AGO,Angola,5.837598e+10,Sub-Saharan Africa,Lower middle income
...,...,...,...,...,...
260,XKX,Kosovo,7.716925e+09,Europe & Central Asia,Upper middle income
261,YEM,"Yemen, Rep.",NaN,Middle East & North Africa,Low income
262,ZAF,South Africa,3.354421e+11,Sub-Saharan Africa,Upper middle income
263,ZMB,Zambia,1.811063e+10,Sub-Saharan Africa,Lower middle income
264,ZWE,Zimbabwe,1.805117e+10,Sub-Saharan Africa,Lower middle income

In [29]:
gdp_data2 = gdp_data1.dropna()
gdp_data2

,Country Code,Country Name,2020_GDP,Region,IncomeGroup
2,AFG,Afghanistan,2.011614e+10,South Asia,Low income
4,AGO,Angola,5.837598e+10,Sub-Saharan Africa,Lower middle income
5,ALB,Albania,1.488763e+10,Europe & Central Asia,Upper middle income
8,ARE,United Arab Emirates,3.588688e+11,Middle East & North Africa,High income
9,ARG,Argentina,3.892881e+11,Latin America & Caribbean,Upper middle income
...,...,...,...,...,...
259,WSM,Samoa,8.071008e+08,East Asia & Pacific,Lower middle income
260,XKX,Kosovo,7.716925e+09,Europe & Central Asia,Upper middle income
262,ZAF,South Africa,3.354421e+11,Sub-Saharan Africa,Upper middle income
263,ZMB,Zambia,1.811063e+10,Sub-Saharan Africa,Lower middle income
264,ZWE,Zimbabwe,1.805117e+10,Sub-Saharan Africa,Lower middle income

In [30]:
region = pd.DataFrame(gdp_data2['Region'])
region

                         Region
2                    South Asia
4            Sub-Saharan Africa
5         Europe & Central Asia
8    Middle East & North Africa
9     Latin America & Caribbean
..                          ...
259         East Asia & Pacific
260       Europe & Central Asia
262          Sub-Saharan Africa
263          Sub-Saharan Africa
264          Sub-Saharan Africa

[194 rows x 1 columns]

In [31]:
unique_regions = gdp_data2['Region'].unique()
unique_regions

array(['South Asia', 'Sub-Saharan Africa', 'Europe & Central Asia',
       'Middle East & North Africa', 'Latin America & Caribbean',
       'East Asia & Pacific', 'North America'], dtype=object)

In [32]:
# 1 - South Asia 

# 2 - Sub-Saharan Africa 

# 3 - Europe & Central Asia 

# 4 - Middle East & North Africa

# 5 - Latin American & Caribbean

# 6 - East Asia & Pacific

# 7 - North America

In [33]:
# set numbers to each region
# make column based on that

In [37]:
numbered_regions = gdp_data2.insert(5, 'Numbered Regions', 0) # zero is placeholder
gdp_data2['Numbered Regions'] # do NOT just insert and put placeholder 
# try to add correct values right as you make the new column

ValueError: cannot insert Numbered Regions, already exists

In [35]:
for i in gdp_data2['Region']:
    if i == ('South Asia'):
        gdp_data2['Numbered Regions'].replace(0, 1)
    
    if i == ('Sub-Saharan Africa'):
        gdp_data2['Numbered Regions'].replace(0, 2)
    
    if i == ('Europe & Central Asia'):
        gdp_data2['Numbered Regions'].replace(0, 3)
    
    if i == ('Middle East & North Africa'):
        gdp_data2['Numbered Regions'].replace(0, 4)
        
    if i == ('Latin America & Caribbean'):
        gdp_data2['Numbered Regions'].replace(0, 5)
    
    if i == ('East Asia & Pacific'):
        gdp_data2['Numbered Regions'].replace(0, 6)
    
    if i == ('North America'):
        gdp_data2['Numbered Regions'].replace(0, 7)

In [36]:
gdp_data2

,Country Code,Country Name,2020_GDP,Region,IncomeGroup,Numbered Regions
2,AFG,Afghanistan,2.011614e+10,South Asia,Low income,0
4,AGO,Angola,5.837598e+10,Sub-Saharan Africa,Lower middle income,0
5,ALB,Albania,1.488763e+10,Europe & Central Asia,Upper middle income,0
8,ARE,United Arab Emirates,3.588688e+11,Middle East & North Africa,High income,0
9,ARG,Argentina,3.892881e+11,Latin America & Caribbean,Upper middle income,0
...,...,...,...,...,...,...
259,WSM,Samoa,8.071008e+08,East Asia & Pacific,Lower middle income,0
260,XKX,Kosovo,7.716925e+09,Europe & Central Asia,Upper middle income,0
262,ZAF,South Africa,3.354421e+11,Sub-Saharan Africa,Upper middle income,0
263,ZMB,Zambia,1.811063e+10,Sub-Saharan Africa,Lower middle income,0
264,ZWE,Zimbabwe,1.805117e+10,Sub-Saharan Africa,Lower middle income,0

In [ ]:
num_regions = gdp_data2['Numbered Regions']
# num_regions

In [27]:
gdp_2020 = gdp_data2['2020_GDP']
# gdp_2020

In [ ]:
lin_reg = LinearRegression().fit(num_regions, gdp_2020)

In [ ]:
# if not lin reg, bar graph to show differences in GDP between region?

# then differences in income within regions? i.e. how many people are in each income group for each region